@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
    main {
        width: 83vw;
    }
}

@media screen and (max-width: 568px) {
    footer {
      
        padding-left: 1px;
        font-size: .8em;
       }
       .cont1 {
        width: 90%;
       }
}