@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-color: rgb(68, 68, 241);
    
    
}

header > div > a {
    display: flex;
    justify-content: center;
}

#home {
    display: flex;
    justify-content: center;
}

#home > a {
    text-decoration: none;
    color: black;
}
#home > a:hover {
    color: orange;
}

.backmain {
    width: 100%;
    background-color: #131313;
    background-size: 100% 400px ;
    background-repeat: no-repeat;
    height: 400px;
    background-image: url(../imagens/fundomain.png);
    background-position: center center;
}
.backmain > h1 {
    color: transparent;
    background-image: linear-gradient(to bottom, white, #6d6969);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}.backmain > p {
    text-align: justify;
    margin: 5px;
    color: white;
}
#st1 {
    background-color: #F6690B;
}
#st2 {
    font-size: 14px;
}
#p1 {
    margin: 5px;
    font-size: 13px;
    width: 230px;
    background-color: #F6690B;
}
#p2 {
    margin: 5px;
    font-size: 13px;
}
.backmain > h3 {
    margin: 10px;
    font-size: 13px;
    color: white;
}
.backmain > a {
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
    text-decoration: none;
    background-color: #F6690B;
    color: white;
    animation: piscaPisca 1s infinite;
}
@keyframes piscaPisca {
    0% {background-color:#F6690B;}
    50% {background-color:#F6690B;}
    55% {background-color:#eec1a3c5;}
    90% {background-color:#eec1a3c5;}
    100% {background-color:#F6690B;}
}
.backmain > a:hover {
    animation: none;
    background-color: #eec1a3c5;
}

footer {
    
    background-color: #4444F1;
    columns: 2;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer, h5, h6 {
    color: white;
}

@media screen and (max-width: 768px)   {

    
    #dol02 {
        position: relative;
        width: 100vw;
    }
    #spdol02 {
        
        position: absolute;
        left:1vw ;
        top: 55vh;
    }
    #qg01 {
        
        
        width: 38vw;
        height: 6vh;
        border-radius: 35px;
    }


    #dol14 {
        display: block;
        justify-content: center;
    }

    #spvi03 {
        display: none;
        
        
    }

    #spvid03 {
        margin: auto;
        display: block;
        justify-content: center;
        
        
    }
    
    .met17 {
        margin-top: 80px;
    }

    .met016 {
        width: 50vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #dol16 {
        margin-top: 50px;
        width: 400px;
        left: 60px;
        position: absolute;
        border-radius: 50px;
       
    }

 }

 @media screen and (max-width: 992px) {

    #dol02 {
        position: relative;
        width: 100vw;
    }
    #spdol02 {
        width: 50px;
        position: absolute;
        left:10px ;
        top: 430px;
    }
    #qg01 {
        width: 35vw;
        height: 45px;
    }


    
    .met016 {
        position: relative;
        display: flex;
        justify-content: center;
    }
    #dol16 {
        margin-top: 100px;
        width: 600px;
        left: 80px;
        position: absolute;
        border-radius: 50px;
       
    }
    .met17 {
        margin-top: 200px;
    }
 }
 @media screen and (max-width: 568px) {
    .backmain {
        background-image: url(../imagens/fundomain.png);
    }
    footer {
      
        padding-left: 1px;
        font-size: .9em;
       }
    }



