@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-color: rgb(68, 68, 241);
    width: 100vw;
    
}

header > div > a {
    display: flex;
    justify-content: center;
}

#home {
    display: flex;
    justify-content: center;
}

#home > a {
    text-decoration: none;
    color: black;
}
#home > a:hover {
    color: orange;
}

.met01 {
    display: flex;
    justify-content: center;
}
#dol01 {
    width: 100vw;
}
.met02 {
    display: flex;
    justify-content: center;
}
#dol02 {
    
    width: 100vw;
}
.boton01 {
    width: 100vw;
    background-color: black;
    position: relative;
}
#bot01 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 50px;
}
#bot01 > a {
    
    color: white;
    border: 2px  solid black;
    border-radius: 8px;
    padding-top: 5px;
    background-color: #11C711;
    text-decoration: none;
    
}
#bot01 > a:hover {
    background-color: #076d07;
}

.vid01 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.met03 {
    display: flex;
    justify-content: center;
}
#dol03 {
    
    width: 100vw;
}
.met04 {
    display: flex;
    justify-content: center;
}
#dol04 {
    
    width: 100vw;
}
.met05 {
    display: flex;
    justify-content: center;
}
#dol05 {
    
    width: 100vw;
}
.met06 {
    display: flex;
    justify-content: center;
}
#dol06 {
    
    width: 100vw;
}
.met07 {
    display: flex;
    justify-content: center;
}
#dol07 {
    
    width: 100vw;
}
.met08 {
    display: flex;
    justify-content: center;
}
#dol08 {
    
    width: 100vw;
}
.met09 {
    display: flex;
    justify-content: center;
}
#dol09 {
    
    width: 100vw;
}

.vid02 {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.vid03 {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.met10 {
    display: flex;
    justify-content: center;
}
#dol10 {
    
    width: 100vw;
}.met11 {
    display: flex;
    justify-content: center;
}
#dol11 {
    
    width: 100vw;
}
.met12 {
    display: flex;
    justify-content: center;
}
#dol12 {
    
    width: 100vw;
}
.met013 {
    display: flex;
    justify-content: center;
}
#dol13 {
    width: 100vw;
}

.vid04 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50vw;
}
#dol14 {
    width: 50vw;
}
#spvi03 {
    left: 100%;
    position: absolute;
}

.met015 {
    display: flex;
    justify-content: center;
}
#dol15 {
    width: 100vw;
}

.boton01 {
    width: 100vw;
    background-color: black;
    position: relative;
}
#bot02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 50px;
}
#bot02 > a {
    
    color: white;
    border: 2px  solid black;
    border-radius: 8px;
    padding-top: 5px;
    background-color: #11C711;
    text-decoration: none;
    
}
#bot02 > a:hover {
    background-color: #076d07;
}


.met017 {
    display: flex;
    justify-content: center;
}
#dol17 {
    margin-top: 70px;
    width: 100vw;
}

footer {
    
    background-color: #4444F1;
    columns: 2;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer, h5, h6 {
    color: white;
}

@media screen and (max-width: 768px)   {

    
    #dol02 {
        position: relative;
        width: 100vw;
    }
    #spdol02 {
        
        position: absolute;
        left:1vw ;
        top: 55vh;
    }
    #qg01 {
        
        
        width: 38vw;
        height: 6vh;
        border-radius: 35px;
    }


    #dol14 {
        display: block;
        justify-content: center;
    }

    #spvi03 {
        display: none;
        
        
    }

    #spvid03 {
        margin: auto;
        display: block;
        justify-content: center;
        
        
    }
    
    .met17 {
        margin-top: 80px;
    }

    .met016 {
        width: 50vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #dol16 {
        margin-top: 50px;
        width: 400px;
        left: 60px;
        position: absolute;
        border-radius: 50px;
       
    }

 }

 @media screen and (max-width: 992px) {

    #dol02 {
        position: relative;
        width: 100vw;
    }
    #spdol02 {
        width: 50px;
        position: absolute;
        left:10px ;
        top: 430px;
    }
    #qg01 {
        width: 35vw;
        height: 45px;
    }


    
    .met016 {
        position: relative;
        display: flex;
        justify-content: center;
    }
    #dol16 {
        margin-top: 100px;
        width: 600px;
        left: 80px;
        position: absolute;
        border-radius: 50px;
       
    }
    .met17 {
        margin-top: 200px;
    }
 }
 @media screen and (max-width: 568px) {
    footer {
      
        padding-left: 1px;
        font-size: .9em;
       }
    }



