@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


header > h1{
text-align: center;
}

 menu {
    width: 100vw;
    padding-top: 10px;
    display: none;
}

header > h2 {
    text-align: center;
    padding-top: 10px;
}
header > p {
    width: 90vw;
    margin: auto;
text-align: justify;
padding-top: 10px;
text-indent: 20px;
}

span#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: gray;
    color: white;
}


menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(185, 195, 204);
    color: white;
    text-align: center;
    border-top: 2px solid black;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: rgb(248, 248, 215);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}