@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEF2;
}

header {
    background-color: rgb(68, 68, 241);
    width: 100vw;
    
}

header > div > a {
    display: flex;
    justify-content: center;
}

#home {
    display: flex;
    justify-content: center;
}

#home > a {
    text-decoration: none;
    color: black;
}
#home > a:hover {
    color: orange;
}

.vid01 {
    display: flex;
    justify-content: center;
}
.vid02 {
    width: 100vw;
    background-color: #1565BF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imag01 {
    display: flex;
    justify-content: center;
    width: 100vw;
}
#grin01 {
    width: 100vw;
}
#grin25 {
    width: 500px;
}
#grin32 {
    width: 800px;
}
#grin33 {
    width: 400px;
}
#grinfi {
    width: 650px;
}
