@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    
}

header {
    background-color: rgb(68, 68, 241);
    
    
}

header > div > a {
    display: flex;
    justify-content: center;
}

#home {
    display: flex;
    justify-content: center;
}

#home > a {
    text-decoration: none;
    color: black;
}
#home > a:hover {
    color: orange;
}
.link01 {position: relative;
    margin-top: 30px;
   
    height: 80px;
    display: flex;
    justify-content: center;
}
.link01 > a {
    position: absolute;
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    background-color: #F5464D;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    text-decoration: none;
    color: white;
}
.link01 > a:hover {
    background-color: rgb(101, 101, 228);
    box-shadow:30px black;
}

.vid01 {
    background-color: #FFFFFF;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.vid02 {
    
    background-color: #1565BF;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-color: #EEEEF2;
}
.imag01 > p {
    text-align: center;
    background-color: #FB4F56;
    font-size: 18px;
    padding: 5px;
    margin-top: -10px;
    color: white;
    font-weight: bolder;
}
.imag01 > content > h2 {
    margin-left: -40px;
    padding: 1px 2px;
    align-self: center;
    font-size: 15px;
    color: white;
    background-color: #BF1248;
}
.imag01 > h3 {
    font-size: 25px;
    text-align: center;
}
.imag01 > h3 > span {
    color: #BF1248;
    font-weight: bolder;
}
.imag01 > h3 > strong {
    font-weight: bolder;
}
.imag01 > content > h1 {
    margin-top: 30px;
    line-height: 40px;
    font-size: 50px;
    font-weight: 900;
    color: #186BC7;
    
}
.imag01 {
    background-color: #FFFFFF;
}
.imag01 > content {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.par01 > p {
    text-align: center;
    font-size: 20px;
}
.imag02 {
    margin-bottom: 20px;
}
.imag02 > content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
    justify-content: space-around;
}
.imag02 > p {
    align-self: center;
}
.imag02 > content > img {
    border-radius: 30%;
}
.imag03 > content {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.imag03 > content > h3 > span#spa02{
    color: #186CC8;
}
.imag03 > content > h3 {
  align-self: center;
  font-size: 50px;
  font-weight: 900;
}
.imag03 > content > p {
    font-size: 18px;
}
.imag04 > content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.imag04 > content > p {
    font-size: 20px;
}
.imag04 > content > p > strong {
font-size: 35px;
}
.imag04 > content > p > strong#bol {
color: #186CC8;
}
.imag04 > content > img {
    width: 400px;
}
.imag05 {
    background-color: #1565BF;
    padding-bottom: 40px;
}

.imag05 > content {
    display: flex;
    justify-content: space-evenly;
    
}
.imag05 > content > div#imaid {
    margin-top: 40px;
    border-radius: 30px;
    background-color: #4588d4;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imag05 > content > div#imaid:hover {
    background-color: #F5464D;
}
.imag05 > content > div#imaid > p > strong {
    font-size: 40px;
    align-self: center;
}
.imag05 > h2 {
    padding-top: 20px;
    margin-top: 30px;
    font-size: 50px;
text-align: center;
color: white;
}
.imag05 > p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    }
    .imag06 {
        background-color: #EEEEF2;
    }
.imag06 > img {
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 600px;
    }
    .imag06 > p {
        text-align: center;
        margin: 20px;
        font-size: 18px;
        padding-bottom: 20px;
    }
    .link02 {position: relative;
        margin-top: 30px;
        
        height: 80px;
        display: flex;
        justify-content: center;
        background-color: #EEEEF2;
    }
    .link02 > a {
        position: absolute;
        padding: 10px 10px 10px 20px;
        margin-bottom: 10px;
        background-color: #F5464D;
        display: flex;
        border-radius: 40px;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
    .link02 > a:hover {
        background-color: rgb(101, 101, 228);
        box-shadow:30px black;
    }
    .imag07 {
        background-color: white;
        text-align: center;
        margin: 10px;
    }
    .imag07 > h2 {
        font-size: 55px;
        font-weight: bolder;
        margin-bottom: 30px;
    }
    .imag07 > p {
        padding-bottom: 40px;
        font-size: 18px;
    }
    .imag08 {
        text-align: center;
    }
    .imag08 > content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imag08 > h2 {
        background-color: #4588D4;
        color: white;
        font-size: 55px;
    }
    .imag08 > h2 > strong {
        color: #bbcadc;
    }
    .imag08 > h4 {
        background-color: #4588D4;
        color: white;
        font-size: 20px;
        padding: 10px;
    }
    .imag08 > content > p > strong {
        font-size: 50px;
        font-weight: bolder;
 }
 .imag08 > content > p > strong#st {
    color: #186CC8;
 }
 .imag08 > content > p {
    font-size: 19px;
 }
 .imag09 {
    background-color: black;
 }
 .imag09 > content {
    margin: 0px 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
 }
    .imag09 > content > div#imaid01> div#id01 {
        background-color: white;
        border-radius: 30%;
        
    }
    .imag09 > content > div#imaid01> div#id01:hover {
        background-color: #4588D4;
    }
 .imag09 > content > div#imaid01> div#id01 > p {
    text-align: center;
    margin: 5px;
    align-content: center;
    align-self: center;
    padding: 20px;
 }
 .imag09 > content > div#imaid01> div#id01 > img {
    width: 100px;
    height: 100px;
    align-content: center;
    align-self: center;
    display: block;
    margin: auto;
    padding: 20px;
 }
 .imag10 > content {
    background-color: white;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .imag10 > content > img {
    width: 150px;
    margin: 10px;
 }
 .imag11 {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .imag11 > content {
    display: flex;
    justify-content: space-around;
 }
 .imag11 > content > img {
    width: 350px;
 }
 .imag11 > content > p {
    font-size: 25px;
 }
 .imag12 > img {
    display: block;
    margin: auto;
    width: 600px;
 }
 .imag13 {
    background-color: black;
    }
    .imag13 > p {
      color: white;
      text-wrap: 2px;
      font-size: 14px;
      padding: 10px;
      margin-left: 30px;
      
    }



footer {
    
    background-color: #4444F1;
    columns: 2;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer, h5, h6 {
    color: white;
}

