@charset "UTF-8";

@media screen and (max-width: 768px) {
    #vide01 {
        width: 300px;
        height: 300px;
    }

    #grin32 {
        width: 400px;
    }
    #grinfi {
        width: 500px;
    }
}