@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(68, 68, 241);
    
}

body {
    
        background-color: rgb(68, 68, 241);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
    
}

/*#logocentro {
    display: flex;
    justify-content: center;
}*/
.banner {
    width: 100vw;
    background-color: #242D4C;
    display: flex;
    justify-content: center;
}



 menu {
    width: 100vw;
    padding-top: 10px;
    display: none;
}


span#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: gray;
    color: white;
}


menu > ul {
    list-style-type: none;
    text-align: center;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(185, 195, 204);
    color: white;
    text-align: center;
    border-top: 2px solid black;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main  {
    background-color: aliceblue;
    width: 90vw;
    background-color: rgb(248, 248, 215);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}


main > content > h1 {
    padding-bottom: 10px;
    text-align: center;
}



.container {
    
    display: inline-block;
    
}
 /* Card */
.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}
/* Card Header */
.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

/* Card Body*/

.card-body {
    height: 170px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-titulo {
    font-size: 32px;
    margin: 15px 0;
}
 
.card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}

.card-valor {
    background-color: antiquewhite;
    text-align: center;
    
}

/* Card Footer */
.card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: black
}

.card-footer a {
    color: #fff;
    display: block;
    padding: 19px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.card-footer a:hover {
    background-color: gray;
}

/* cores do card */
.card-1 .card-footer {
    background-color: #F2E8D3;
}

.card-2 .card-footer {
    background-color:#FF3575 ;
}

.card-3 .card-footer {
    background-color: #FF223C;
}



main > h2 {
    padding-bottom: 10px;
    text-align: center;
}

main > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

main > article {
    margin-top: 10px;
}

main > article > h3 {
    margin-top: 10px;
}

main > article > p {
    margin-top: 10px;
    text-align: justify;
    text-indent: 20px;
}

.rodape {
    width: 100vw;
    height: 150px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: black;
}

.rodape > div{
    display: inline-block;   
}

.rodnos {
    
    margin-top: 10px;
    width: 400px;
    height: 80px;
    background-color: black;
    color: white;
}

.rodnos > h5 {
    text-align: center;   
}
.rodnos > h6 {
    text-align: center;
}

.rodcont {
    
    margin-top: 10px;
    width: 400px;
    height: 80px;
    background-color: black;
    color: white;
}
.rodcont > h5 {
    text-align: center;
}

.rodsite {
    
    margin-top: 10px;
    width: 400px;
    height: 80px;
    background-color: black;
    color: white;
}
.rodsite > h5 {
    text-align: center;
}