@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-color: rgb(68, 68, 241);
    width: 100vw;
    
}

header > div > a {
    display: flex;
    justify-content: center;
}

#home {
    display: flex;
    justify-content: center;
}

#home > a {
    text-decoration: none;
    color: black;
}
#home > a:hover {
    color: orange;
}

#bol01 {
    width: 100vw;
}

.video01 {
    display: flex;
    justify-content: center;
}

.capt03 {
    display: flex;
    justify-content: center;
}


#ca03 {
    width: 100vw;
}

h1 {
    color: white;
    text-align: center;
}
#texto01 {
    display: flex;
    justify-content: center;
}

.qins01 {
    display: flex;
    justify-content: center;
}
#queins {
    width: 100vw;
}

.bol04 {
    display: flex;
    justify-content: center;
}
#imal04 {
width: 100vw;
}

.alunos {
    display: flex;
    justify-content:space-between;
}

.bol05 {
    display: flex;
    justify-content: center;
}
#imal05 {
width: 100vw;
}






